@import '../../styles/screens.scss';

.preview-list-container {
  z-index: 5;
  position: relative; // Position given for the z index property to take effect

  .list-header {
    margin: 0px;
    font-size: 24px;
    color: whitesmoke;

    .header-link {
      color: inherit;
      text-decoration: none;
    }

    .add-action {
      opacity: 0;
      cursor: pointer;
      margin-left: -16px;
      padding-left: 16px;
      color: rgb(84, 185, 197);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .header-wrapper:hover .add-action {
      opacity: 1;
      width: auto;
      margin-left: 0px;
    }
  }

  .list-content {
    max-width: 100%;
    overflow-y: hide;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .list-item {
      cursor: pointer;
      position: relative;
      display: inline-block;
      transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }

      .add-action-button {
        opacity: 0;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

        svg {
          fill: white;
        }
      }

      &:hover {
        .add-action-button {
          opacity: 1;
          background: rgb(20, 20, 20);
        }
      }
    }
  }

  @include mobileViewport {
    .list-header {
      font-size: 16px;
    }

    .list-content {
      margin-top: -8px;
      margin-bottom: 8px;
      padding: 20px 0px;

      .list-item {
        margin-right: 8px;
        width: calc(1920px / 10);
        height: calc(1080px / 10);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 106px;
        height: 160px;
      }
    }
  }

  @include tabletOnlyViewport {
    padding-top: 8px;

    .list-header {
      font-size: 16px;
    }

    .list-content {
      padding: 16px 0px;

      .list-item {
        margin-right: 8px;
        width: calc(1920px / 9);
        height: calc(1080px / 9);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 128px;
        height: 192px;
      }
    }
  }

  @include smallLaptopViewport {
    padding-top: 8px;

    .list-header {
      font-size: 20px;
    }

    .list-content {
      padding: 20px 0px;
      margin-top: -4px;

      .list-item {
        margin-right: 8px;
        width: calc(1920px / 9);
        height: calc(1080px / 9);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 128px;
        height: 192px;
      }
    }
  }

  @include laptopViewport {
    padding-top: 8px;

    .list-header {
      font-size: 20px;
    }

    .list-content {
      padding: 20px 0px;
      margin-top: -8px;

      .list-item {
        margin-right: 12px;
        width: calc(1920px / 8);
        height: calc(1080px / 8);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 148px;
        height: 221px;
      }
    }
  }

  @include largeLaptopViewport {
    padding-top: 16px;

    .list-header {
      font-size: 20px;
    }

    .list-content {
      padding: 20px 0px;
      margin-top: -8px;

      .list-item {
        margin-right: 12px;
        width: calc(1920px / 8);
        height: calc(1080px / 8);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 148px;
        height: 221px;
      }
    }
  }

  @include largeViewport {
    padding-top: 16px;

    .list-content {
      padding: 32px 0px 24px 0px;
      margin-top: -12px;

      .list-item {
        margin-right: 12px;
        width: calc(1920px / 6);
        height: calc(1080px / 6);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }
      }

      .list-item-portrait {
        width: 180px;
        height: 270px;
      }
    }
  }

  @include extraLargeViewport {
    padding-top: 16px;

    .list-header {
      .add-action {
        font-size: 16px;
      }
    }

    .list-content {
      padding: 32px 0px;
      margin-top: -12px;

      .list-item {
        margin-right: 12px;
        width: calc(1920px / 6);
        height: calc(1080px / 6);

        &:hover {
          z-index: 10;
          transform: scale(1.08, 1.08);
          transform-origin: bottom center;
        }

        &:first-child {
          transform-origin: bottom left;
        }

        &:last-child {
          transform-origin: bottom right;
        }

        .add-action-button {
          right: 6px;
          bottom: 6px;

          svg {
            width: 48px;
            height: 48px;
            padding: 6px;
          }
        }
      }

      .list-item-portrait {
        width: 180px;
        height: 270px;
      }
    }
  }
}
