@import '../../styles/screens.scss';

.preview-modal-container {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 7;
  bottom: 0px;
  position: fixed;

  .modal-backdrop {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    transition: opacity 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .modal-content-wrapper {
    top: 48px;
    position: fixed;
    left: calc((100% - 640px) / 2);
    right: calc((100% - 640px) / 2);
    transform-origin: center bottom;
    transition: transform 0.25s cubic-bezier(0.23, 1, 0.32, 1);

    .yt-player-container {
      width: 100%;
      height: 100%;

      .yt-iframe {
        width: 100%;
      }
    }

    @include mobileViewport {
      left: calc((100% - 384px) / 2);
      right: calc((100% - 384px) / 2);
    }

    @include laptopViewport {
      left: calc((100% - 480px) / 2);
      right: calc((100% - 480px) / 2);
    }

    @include largeViewport {
      left: calc((100% - 720px) / 2);
      right: calc((100% - 720px) / 2);
    }

    @include extraLargeViewport {
      left: calc((100% - 800px) / 2);
      right: calc((100% - 800px) / 2);
    }

    .modal-content {
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      box-shadow: 0px 0px 6px black;
      background-color: rgb(20, 20, 20);

      .button-action {
        border: none;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
      }

      .button-highlight {
        background: rgb(20, 20, 20);
        outline: 2px solid rgba(245, 245, 245, 0.5);

        &:hover {
          outline: 2px solid whitesmoke;
        }
      }

      .button-circle {
        border-radius: 50%;
      }

      .close-button {
        top: 12px;
        right: 12px;
        width: 40px;
        height: 40px;
        position: absolute;
        outline: 2px solid transparent;

        svg {
          fill: whitesmoke;
        }
      }

      .preview-item-description {
        padding: 32px 32px;

        .preview-item-title {
          margin: 0px;
          font-size: 26px;
          font-weight: 700;
          margin-bottom: 16px;
          color: whitesmoke;
        }

        .button-size-fix {
          min-width: 42px;
          max-width: 42px;
          max-height: 42px;
          min-height: 42px;
        }

        .actions-container {
          gap: 12px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .button-play {
            display: flex;
            color: black;
            font-size: 20px;
            font-weight: 700;
            border-radius: 4px;
            padding: 4px 16px;
            align-items: center;
            background-color: white;
            justify-content: center;

            img {
              width: 40px;
            }
          }

          .button-complete {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              fill: whitesmoke;
              min-width: 32px;
              max-width: 32px;
            }
          }

          .button-feedback {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              fill: whitesmoke;
              min-width: 26px;
              max-width: 26px;
            }
          }

          .button-mute {
            display: flex;
            margin-left: auto;
            align-items: center;
            justify-content: center;

            svg {
              fill: whitesmoke;
              min-width: 32px;
              max-width: 32px;
            }

            .muted-true {
              min-width: 36px;
              max-width: 36px;
            }
          }
        }
      }
    }
  }

  @include mobileViewport {
  }

  @include tabletOnlyViewport {
  }

  @include smallLaptopViewport {
  }

  @include laptopViewport {
  }

  @include largeLaptopViewport {
  }

  @include largeViewport {
  }

  @include extraLargeViewport {
  }
}
