@import '../../styles/screens.scss';

.navbar {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 6;
  position: fixed;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );

    a {
      border: none;
      outline: none;
    }

    @include mobileViewport {
      padding: 16px 24px;

      .logo-picture {
        max-width: 72px;
      }

      .display-picture {
        max-width: 32px;
        border-radius: 4px;
      }
    }

    @include tabletOnlyViewport {
      padding: 16px 24px;

      .logo-picture {
        max-width: 80px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }

    @include smallLaptopViewport {
      padding: 24px 24px;

      .logo-picture {
        max-width: 88px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }

    @include laptopViewport {
      padding: 24px 24px;

      .logo-picture {
        max-width: 96px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }

    @include largeLaptopViewport {
      padding: 24px;

      .logo-picture {
        max-width: 96px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }

    @include largeViewport {
      padding: 24px;

      .logo-picture {
        max-width: 96px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }

    @include extraLargeViewport {
      padding: 24px 40px;

      .logo-picture {
        max-width: 96px;
      }

      .display-picture {
        max-width: 40px;
        border-radius: 4px;
      }
    }
  }
}
