@import '../../styles/screens.scss';

.page-content {
  z-index: 100;
  padding: 24px 32px;
  background: rgb(24, 24, 24);

  @include mobileViewport {
  }

  @include tabletOnlyViewport {
  }

  @include smallLaptopViewport {
  }

  @include laptopViewport {
  }

  @include largeLaptopViewport {
  }

  @include largeViewport {
  }

  @include extraLargeViewport {
    margin-top: -160px;
  }
}
